/* * {
    border: red 1px solid;
} */

.recipes-container{
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 100px);

}

.recipes-title { /* Style for the "My Pantry" text */
    margin-bottom: 10px;
    margin-top: 0; /* Remove top margin */
    font-size: 24px;       /* You can adjust this as per your preference */
    font-weight: bold;     /* Making the text bold */
    text-align: center;    /* Centering the text */
}


.recipes-box {
    display: flex;
    flex-direction: column;
    background-color: #FBF2CF;
    width: 30vw;
    height: 650px;
    border-radius: 0 25px 25px 0;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 1%;
    padding: 20px 10px; 
    overflow-x: hidden; 
}
.recipes-box .search-input {
    width: 70%;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: black;
}
.search-input {
    width: 90%; /* Adjust as needed */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.recipes-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Set to full width */
    overflow-y: auto; /* Allow vertical scrolling for the entire list */
    max-height: 550px;
    padding-top: 10px;
    padding-left: 0; /* Remove left padding */
    padding-right: 0; /* Remove right padding */
}

.recipe-bubble {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px; /* Adjust based on your design */
    overflow: hidden; 
}
.recipe-name {
    max-width: 50%; /* Adjust this value based on your design */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-buttons {
    display: flex;
    justify-content: space-between;
}

.download-button {
    background-color: #A1C298;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-right: 1rem;
}

.recipe-delete-button {
    background-color: #FA7070;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 1%;
}

.download-button:hover {
    background-color: #4CAF50;
    font-weight: bold;
}

.recipe-delete-button:hover {
    background-color: #FF3D3D;
    font-weight: bold;
}

.recipe-toggle-button {
    display: none;
    position: absolute;
    top: 125px;  
    left: 10px; 
    padding: 10px 20px;  
    background-color: #FBF2CF;  
    color: black;  
    border-radius: 20px;  
    cursor: pointer;  
    font-weight: bold;  
    width: 100vw;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.close-panel-button {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.folder-selector-modal {
    background-color: #FBF2CF;
    padding-bottom: 20px;
    width: 70vw;
    max-width: 70%;
    max-height: 80vh;
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.active-folder-modal {
    background-color: #FBF2CF;
    padding-bottom: 20px;
    width: 70vw;
    max-width: 70%;
    max-height: 80vh;
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.modal-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.folders-section {
    display: flex; 
    flex-direction: column;
    width: 30vw;
    height: 650px;
    right: 1rem;
    border: 6px solid #A1C298;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 25px;
    align-items: center;
    padding-top: 1%;
    padding: 20px 10px;
}

.folder.active .folder-recipes {
    display: block;
}

.folder-recipes {
    display: none;
    padding: 0 15px;
    transition: all 0.3s ease;
}

.folder-select {
    background-color: #A1C298;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 70%;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-bottom: 1rem;
    color: black;
}

.folder-create {
    align-self: flex-end;
    margin-bottom: 1%;
    background-color: #FA7070;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 70%;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-bottom: 1rem;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.folder-create:hover {
    background-color: #FF3D3D;
    font-weight: bold;
}

.folder {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    width: 60%;
    background-color: #FBF2CF;
    height: 10%;
    border-radius: 15px;
    align-self: center;
    overflow-y: auto;
}

.folder-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
}

.folder-name {
    margin-right: 20%;
    cursor: pointer;
}

.folder-name:hover {
    font-weight: bold;
}

.folder-select:hover {
    background-color: #4CAF50;
    font-weight: bold;
}

.folder-cancel {
    background-color: #FA7070;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 70%;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
    color: black;
}

.folder-cancel:hover {
    background-color: #FF3D3D;
    font-weight: bold;
}

.folder-creation-popup {
    background-color: #FBF2CF;
    padding: 20px;
    width: 30vw;
    max-width: 70%;
    max-height: 40vh;
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.folder-bar {
    width: 70%;
    height: 70%;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: black;
    margin-bottom: 1rem;
}
.modal-container {
    display: flex;
    justify-content: space-between;
}
.modal-recipe {
    margin-bottom: 1%;
    cursor: pointer;
}
.modal-recipe:hover {
    font-weight: bold;
}




@media (max-width: 768px) {
    .recipes-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 100px);
    }
    .recipes-box {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        overflow-y: auto; /* In case the content is longer than the screen */
        padding-right: 20px;
    }

    .recipes-box {
        transform: translateX(-100%); /* Starts off the screen to the left */
    }



    /* Styles when panels are open */
    .recipes-box.slide-in {
        transform: translateX(0); /* Comes in from the left or right */
    }

    .recipe-toggle-button {
        display: block;
        justify-content: space-between;
        position: absolute;
        top: 150px;
        left: 10px;
        z-index: 1000; 
        width: 100vw;
        height: auto;
    }


/* Close button styles */
.close-panel-button {
    display: none; /* Hidden by default, visible on smaller screens */
    position: absolute;
    top: 2%; /* Adjust as needed */
    right: 10%; /* Adjust as needed */
    background-color: transparent;
    font-weight: bold;
    font-size: large;
    width: 1%;
    height: 1%;
    border: transparent;
    color: #FF3D3D;
    /* Add other styles (background, color, etc.) as desired */
}
}
@media (min-width: 769px) {
   .recipe-toggle-button {
    display: none !important;
   }
}