/* * {
    border: red 1px solid;
} */

.recipes-container{
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 100px);

}

.recipes-title { /* Style for the "My Pantry" text */
    margin-bottom: 10px;
    margin-top: 0; /* Remove top margin */
    font-size: 24px;       /* You can adjust this as per your preference */
    font-weight: bold;     /* Making the text bold */
    text-align: center;    /* Centering the text */
}


.recipes-box{
    display: flex;
    flex-direction: column;
    background-color: #FBF2CF;
    width: 30vw;
    height: 650px;
    border-radius: 0 25px 25px 0;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
    padding-top: 1%;
    padding: 20px 10px; /* Reduced side padding */
    overflow-x: hidden; /* Ensure no horizontal scrolling */
}

.recipes-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Set to full width */
    overflow-y: auto; /* Allow vertical scrolling for the entire list */
    max-height: 550px;
    padding-top: 10px;
    padding-left: 0; /* Remove left padding */
    padding-right: 0; /* Remove right padding */
}

.recipe-bubble {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px; /* Adjust based on your design */
    overflow: hidden; 
}
.recipe-name {
    max-width: 50%; /* Adjust this value based on your design */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-buttons {
    display: flex;
    justify-content: space-between;
}

.download-button {
    background-color: #FA7070;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-right: 1rem;
}

.recipe-delete-button {
    background-color: #FA7070;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.download-button:hover {
    background-color: #FF3D3D;
    font-weight: bold;
}

.recipe-delete-button:hover {
    background-color: #FF3D3D;
    font-weight: bold;
}


.recipe-toggle-button {
    display: none;
    position: absolute;
    top: 125px;  
    left: 10px; 
    padding: 10px 20px;  
    background-color: #FBF2CF;  
    color: black;  
    border-radius: 20px;  
    cursor: pointer;  
    font-weight: bold;  
    width: 100vw;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.close-panel-button {
    display: none;
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    /* Add other styles (background, color, etc.) as desired */
}



@media (max-width: 768px) {
    .recipes-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 100px);
    }
    .recipes-box {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        overflow-y: auto; /* In case the content is longer than the screen */
        padding-right: 20px;
    }

    .recipes-box {
        transform: translateX(-100%); /* Starts off the screen to the left */
    }



    /* Styles when panels are open */
    .recipes-box.slide-in {
        transform: translateX(0); /* Comes in from the left or right */
    }

    .recipe-toggle-button {
        display: block;
        justify-content: space-between;
        position: absolute;
        top: 150px;
        left: 10px;
        z-index: 1000; 
        width: 100vw;
        height: auto;
    }


/* Close button styles */
.close-panel-button {
    display: none; /* Hidden by default, visible on smaller screens */
    position: absolute;
    top: 2%; /* Adjust as needed */
    right: 10%; /* Adjust as needed */
    background-color: transparent;
    font-weight: bold;
    font-size: large;
    width: 1%;
    height: 1%;
    border: transparent;
    color: #FF3D3D;
    /* Add other styles (background, color, etc.) as desired */
}
}
@media (min-width: 769px) {
   .recipe-toggle-button {
    display: none !important;
   }
}