

/* * {
    border: red 1px solid
} */

.community-container {
    display:flex;
    flex-direction: row;
}

.left-panel{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:1%;
    /* border:1px solid red; */
    margin:2%;
    width: 40%;
    min-height: 500px;
}

.posted-title{
    display: flex;
    align-items: center;
    
}

.posted-title h4{
    text-align: center;
    font-size: 1.5rem;
}

.create-post-btn {
    background-color: #f07474;
    border-radius: 50%;
    width:50%;
    min-width:130px;
    min-height: 50px;
    height:20%;
    position: relative;
    top:60%;
    margin:5%;
    right:20%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.create-post-btn i {
    font-size: 150%;
}


.center-panel{
    background-color: rgb(238, 235, 235);
    width: 100%;
    min-height:600px;
    /* border:1px red solid; */
    padding:5%;
    align-self: center;
    margin-right:25%;
}
