

/* * {
    border: red 1px solid
} */

.community-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* border:1px solid red; */
}

.left-panel{
    display:flex;
    flex-direction: column;
    align-items: center;

    /* border:1px solid red; */
    margin:2%;
    width: 40%;
    min-height: 100px;
    
}

.posted-title{
    display: flex;
    align-items: center;
    
}

.posted-title h4{
    text-align: center;
    font-size: 1.5rem;
}

/* .create-post-btn {
    background-color: #f07474;
    border-radius: 50%;
    width:50%;
    min-width:130px;
    min-height: 130px;
    height:20%;
    position: relative;
    top:60%;
    margin:5%;
    right:20%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
} */

.create-post-btn i {
    font-size: 150%;
}


.center-panel{
    background-color: rgb(238, 235, 235);
    border-radius: 10%;
    width: 100%;
    min-height:600px;
    /* border:1px red solid; */
    padding:5%;
    align-self: center;
    margin-right:10%;
    position: relative;
    bottom:100%;
}

.recipe-grid {
    max-height: 300px; /* Set the maximum height you desire */
    overflow-y: auto; /* Add vertical scroll if content exceeds the container height */
    border: 1px solid #ccc; /* Optional: Add a border for better styling */
    padding: 20%; /* Optional: Add padding for spacing */
    text-align:center;
  }

  .recipe-item{
    padding: 10%;
    background-color: rgb(255, 253, 161);
    border-radius:10%;
    margin-bottom: 50%;
  }


/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
  


/* CSS */
.button-44 {
  background: #e62143;
  border-radius:11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  padding: .8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}

.button-44:active,
.button-44:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.button-44:hover {
  border-bottom-style: none;
  border-color: #dadada;
}
