services:
  backend:
    build: ./backend
    container_name: recipe-remix-backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: recipe-remix-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WDS_SOCKET_PORT: "0"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules