/* *{
    border: red solid 1px;
} */
.pantry-container{
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.pantry-left-container{
    display: flex;
    background-color: #FBF2CF;
    justify-self: start;
    justify-content: center;
    width: 450px;
    height: 650px;
    border-radius: 0 25px 25px 0;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

img {
    margin: auto;
    height: 200px; 
    width: 200px;
}
.pantry-center-container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}
.pantry-right-container{
    display: flex;
    background-color: #FBF2CF;
    justify-self: end;
    justify-content: center;
    width: 450px;
    height: 650px;
    border-radius: 25px 0 0 25px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.pantry-button {
    background-color: #FA7070;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    border-radius: 80px;
    width: 400px;
    height: 120px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.pantry-button:hover {
    cursor: pointer;
    background-color: #3e8e41;
    color: white;
    position: relative;
    top: -5px;
}


.ingredients-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.ingredient-bubble {
    background-color: #FBF2CF;
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s;
}

.ingredient-bubble:hover {
    transform: scale(1.1);
    cursor: pointer;
}
