.pantry-container{
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 100px);

}

.pantry-title { /* Style for the "My Pantry" text */
    margin-bottom: 10px;
    margin-top: 0; /* Remove top margin */
    font-size: 24px;       /* You can adjust this as per your preference */
    font-weight: bold;     /* Making the text bold */
    text-align: center;    /* Centering the text */
}
.pantry-left-container{
    display: flex;
    flex-direction: column;
    background-color: #FBF2CF;
    width: 50vw;
    height: 650px;
    border-radius: 0 25px 25px 0;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
    padding-top: 20px;
    padding: 20px 10px; /* Reduced side padding */
    overflow-x: hidden; /* Ensure no horizontal scrolling */


}

img {
    margin: auto;
    height: 200px; 
    width: 200px;
}
.pantry-center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    padding-right: 1px;
}

.pantry-right-container{
    display: flex;
    background-color: #FBF2CF;
    justify-content: center;
    width: 50vw;
    height: 650px;
    border-radius: 25px 0 0 25px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.pantry-button {
    background-color: #FA7070;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    border-radius: 80px;
    width: 400px;
    height: 120px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.pantry-button:hover {
    cursor: pointer;
    background-color: #3e8e41;
    color: white;
    position: relative;
    top: -5px;
}

.ingredients-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Set to full width */
    overflow-y: auto;
    max-height: 550px;
    overflow-x: hidden; /* Ensure no horizontal scrolling */
    padding-top: 10px;
    padding-left: 0; /* Remove left padding */
    padding-right: 0; /* Remove right padding */
}


.ingredient-bubble:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 1;
}


.ingredients-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 10px); /* Adjust width considering padding */
    overflow-y: auto;
    max-height: 550px;
    padding-top: 10px;
}

.ingredient-bubble {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: calc(100% - 10px); /* Adjust width considering padding */
    padding: 10px 5px;
    text-align: left;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
    overflow-x: hidden; /* Hide overflow */
    border-bottom: 1px solid #4e3f1d;
    box-sizing: border-box; /* Include padding in width calculation */
}

.delete-button {
    background-color: #FA7070;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #FF3D3D;
}



