.pantry-container{
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 100px);

}

.pantry-title { /* Style for the "My Pantry" text */
    margin-bottom: 10px;
    margin-top: 0; /* Remove top margin */
    font-size: 24px;       /* You can adjust this as per your preference */
    font-weight: bold;     /* Making the text bold */
    text-align: center;    /* Centering the text */
}
.pantry-left-container{
    display: flex;
    flex-direction: column;
    background-color: #FBF2CF;
    width: 50vw;
    height: 650px;
    border-radius: 0 25px 25px 0;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
    padding-top: 20px;
    padding: 20px 10px; /* Reduced side padding */
    overflow-x: hidden; /* Ensure no horizontal scrolling */
}

img {
    margin: auto;
    height: 200px; 
    width: 200px;
}
.pantry-center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    padding-right: 1px;
}

.pantry-right-container{
    display: flex;
    background-color: #FBF2CF;
    justify-content: center;
    width: 50vw;
    height: 650px;
    border-radius: 25px 0 0 25px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.pantry-button {
    background-color: #FA7070;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    border-radius: 80px;
    width: 400px;
    height: 120px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.pantry-button:hover {
    cursor: pointer;
    background-color: #3e8e41;
    color: white;
    position: relative;
    top: -5px;
}

.ingredients-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Set to full width */
    overflow-y: auto; /* Allow vertical scrolling for the entire list */
    max-height: 550px;
    padding-top: 10px;
    padding-left: 0; /* Remove left padding */
    padding-right: 0; /* Remove right padding */
}


.ingredient-bubble:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 1;
    background-color: #e8d8ab; /* Light gray background for highlight */
    border: 1px solid #ffffff; /* Optional border for emphasis */
    border-radius: 0 10px 10px 0;
}

.pantry-tag {
    display: none;
    position: absolute;
    top: 125px;  /* Adjust based on your preference and navbar height */
    left: 10px; /* Adjust as needed */
    padding: 10px 20px;  /* Adds some padding around the text */
    background-color: #FBF2CF;  /* Example background color */
    color: black;  /* Text color */
    border-radius: 20px;  /* Rounded corners */
    cursor: pointer;  /* Indicates it's clickable */
    font-weight: bold;  /* Makes the text bold */
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}


.ingredient-bubble {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: calc(100% - 10px); /* Adjust width considering padding */
    padding: 10px 5px;
    text-align: left;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box; /* Include padding in width calculation */
    /* Remove any overflow properties */
}

.delete-button {
    background-color: #FA7070;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pantry-tag {
    display: block;
    justify-content: space-between;
    position: absolute;
    top: 150px;
    left: 10px;
    z-index: 1000; 
    width: auto;
    height: auto;
}

.delete-button:hover {
    background-color: #FF3D3D;
}

@media (min-width: 769px) {
    .pantry-tag {
        display: none !important;
    }
    .recipe-tag {
        display: none !important;
    }
}
