.pantry-container{
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 100px);

}

.pantry-title { /* Style for the "My Pantry" text */
    margin-bottom: 10px;
    margin-top: 0; /* Remove top margin */
    font-size: 24px;       /* You can adjust this as per your preference */
    font-weight: bold;     /* Making the text bold */
    text-align: center;    /* Centering the text */
}

.pantry-left-container .search-input {
    width: 70%;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: black;
}
.pantry-left-container{
    display: flex;
    flex-direction: column;
    background-color: #FBF2CF;
    width: 30vw;
    height: 650px;
    border-radius: 0 25px 25px 0;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
    padding-top: 1%;
    padding: 20px 10px; /* Reduced side padding */
    overflow-x: hidden; /* Ensure no horizontal scrolling */
}

img {
    margin: auto;
    height: 200px; 
    width: 200px;
}
.pantry-center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 30vw;
    padding-left: 1px;
    padding-right: 1px;
    margin: auto;
}

.pantry-right-container{
    display: flex;
    background-color: #FBF2CF;
    justify-content: center;
    width: 30vw;
    height: 650px;
    padding-top: 1%;
    padding: 20px 10px;
    border-radius: 25px 0 0 25px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.recipe-title {
    margin-bottom: 10px;
    margin-top: 0; /* Remove top margin */
    font-size: 24px;       /* You can adjust this as per your preference */
    font-weight: bold;     /* Making the text bold */
    text-align: center; 
}
.pantry-button {
    background-color: #FA7070;
    border: none;
    color: black;
    margin-bottom: 20%;
    margin-top: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    border-radius: 80px;
    width: 50%;
    height: 5vw;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.pantry-button:hover {
    cursor: pointer;
    background-color: #3e8e41;
    color: white;
    position: relative;
    top: -5px;
}

.ingredients-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Set to full width */
    overflow-y: auto; /* Allow vertical scrolling for the entire list */
    max-height: 550px;
    padding-top: 10px;
    padding-left: 0; /* Remove left padding */
    padding-right: 0; /* Remove right padding */
}

.ingredient-name:hover {
    top: -5px;
    position: relative;
    color: black;
    font-weight: bold;
}
 .ingredient-bubble:hover { 
    cursor: pointer;
    background-color: transparent;
    top: -2px;
    font-weight: bold;
} 

.pantry-tag {
    display: none;
    position: absolute;
    top: 125px;  /* Adjust based on your preference and navbar height */
    left: 10px; /* Adjust as needed */
    padding: 10px 20px;  /* Adds some padding around the text */
    background-color: #FBF2CF;  /* Example background color */
    color: black;  /* Text color */
    border-radius: 20px;  /* Rounded corners */
    cursor: pointer;  /* Indicates it's clickable */
    font-weight: bold;  /* Makes the text bold */
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}


.ingredient-bubble {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: calc(100% - 10px); /* Adjust width considering padding */
    padding: 10px 5px;
    text-align: left;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box; /* Include padding in width calculation */
    /* Remove any overflow properties */
}

.delete-button {
    background-color: #FA7070;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pantry-tag {
    display: block;
    justify-content: space-between;
    position: absolute;
    top: 150px;
    left: 10px;
    z-index: 1000; 
    width: auto;
    height: auto;
}

.delete-button:hover {
    background-color: #FF3D3D;
}

.search-input {
    width: 90%; /* Adjust as needed */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.pantry-toggle-button,
.recipes-toggle-button {
    display: none;
    position: absolute;
    top: 125px;  /* Adjust based on your preference and navbar height */
    left: 10px; /* Adjust as needed */
    padding: 10px 20px;  /* Adds some padding around the text */
    background-color: #FBF2CF;  /* Example background color */
    color: black;  /* Text color */
    border-radius: 20px;  /* Rounded corners */
    cursor: pointer;  /* Indicates it's clickable */
    font-weight: bold;  /* Makes the text bold */
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.pantry-toggle-button {
    left: 20px;
}

.recipes-toggle-button {
    right: 20px;
}
.close-panel-button {
    display: none;
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    /* Add other styles (background, color, etc.) as desired */
}

@media (max-width: 768px) {
    .pantry-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 100px);
    }
    .pantry-left-container,
    .pantry-right-container {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        overflow-y: auto; /* In case the content is longer than the screen */
    }

    .pantry-left-container {
        transform: translateX(-100%); /* Starts off the screen to the left */
    }

    .pantry-right-container {
        transform: translateX(100%); /* Starts off the screen to the right */
    }

    /* Styles when panels are open */
    .pantry-left-container.slide-in,
    .pantry-right-container.slide-in {
        transform: translateX(0); /* Comes in from the left or right */
    }

    .pantry-toggle-button {
        display: block;
        justify-content: space-between;
        position: absolute;
        top: 150px;
        left: 10px;
        z-index: 1000; 
        width: auto;
        height: auto;
    }
    .recipes-toggle-button {
        display: block;
        justify-content: space-between;
        position: absolute;
        top: 150px;
        right: 10px;
        z-index: 1000;
        width: auto; 
        height: auto; 
        left: auto; 
    }
}

/* Close button styles */
.close-panel-button {
    display: none; /* Hidden by default, visible on smaller screens */
    position: absolute;
    top: 2%; /* Adjust as needed */
    right: 10%; /* Adjust as needed */
    background-color: transparent;
    font-weight: bold;
    font-size: large;
    width: 1%;
    height: 1%;
    border: transparent;
    color: #FF3D3D;
    /* Add other styles (background, color, etc.) as desired */
}


@media (min-width: 769px) {
    .pantry-tag {
        display: none !important;
    }
    .recipe-tag {
        display: none !important;
    }
}
