.pantry-container{
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 100px);

}
.pantry-left-container{
    display: flex;
    background-color: #FBF2CF;
    justify-self: start;
    justify-content: center;
    width: 25vw;
    height: 650px;
    border-radius: 0 25px 25px 0;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    position: static;
    transform: none;
}

img {
    margin: auto;
    height: 200px; 
    width: 200px;
}
.pantry-center-container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.pantry-right-container{
    display: flex;
    background-color: #FBF2CF;
    justify-self: end;
    justify-content: center;
    width: 25vw;
    height: 650px;
    border-radius: 25px 0 0 25px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.pantry-button {
    background-color: #FA7070;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    border-radius: 80px;
    width: 400px;
    height: 120px;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.pantry-button:hover {
    cursor: pointer;
    background-color: #3e8e41;
    color: white;
    position: relative;
    top: -5px;
}

.hamburger-icon {
    display: none;
    position: absolute;
    top: 125px;  /* Adjust based on your preference and navbar height */
    left: 10px; /* Adjust as needed */
    padding: 10px 20px;  /* Adds some padding around the text */
    background-color: #FBF2CF;  /* Example background color */
    color: black;  /* Text color */
    border-radius: 20px;  /* Rounded corners */
    cursor: pointer;  /* Indicates it's clickable */
    font-weight: bold;  /* Makes the text bold */
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.recipe-tag {
    display: none;
    position: absolute;
    top: 125px;  /* Adjust based on your preference and navbar height */
    right: 10px; /* Adjust as needed */
    padding: 10px 20px;  /* Adds some padding around the text */
    background-color: #FBF2CF;  /* Example background color */
    color: black;  /* Text color */
    border-radius: 20px;  /* Rounded corners */
    cursor: pointer;  /* Indicates it's clickable */
    font-weight: bold;  /* Makes the text bold */
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
    .pantry-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 100px);
    }

    .pantry-left-container,
    .pantry-right-container {
        width: 50vw;
        margin: 10px 0;
        border-radius: 25px;
        box-shadow: none;
    }

    .pantry-center-container img {
        height: 150px; 
        width: 150px;
        padding-top: 200px;
        padding-bottom: 20px;
    }

    .pantry-button {
        width: 80%;  
        padding: 10px 20px;
        font-size: 30px;
    }

    .hamburger-icon {
        display: block;
        justify-content: space-between;
        position: absolute;
        top: 150px;
        left: 10px;
        z-index: 1000; 
        width: auto;
        height: auto;
    }

    .recipe-tag {
        display: block;
        justify-content: space-between;
        position: absolute;
        top: 150px;
        right: 10px;
        z-index: 1000;
        width: auto; 
        height: auto; 
        left: auto; 
    }

    .pantry-left-container {
        position: fixed;
        top: 150px;
        left: 0;
        width: 50vw;
        height: calc(100% - 60px);
        z-index: 999; 
        overflow-y: auto; 
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    .pantry-center-container{
        display: flex;
        flex-direction: column;
        justify-self: center;
        justify-content: center;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        top: 200px;
        width: 100%;
        height: calc(100% - 100px);
        padding-left: 20px;
        padding-right: 20px;
    }
    .pantry-right-container {
        position: fixed;
        top: 150px;
        right: 0;
        width: 50vw;
        height: calc(100% - 60px);
        z-index: 999; 
        overflow-y: auto; 
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .pantry-left-container.open {
        transform: translateX(0); 
    }
    .pantry-right-container.open {
        transform: translateX(0);
    }
}

@media (min-width: 769px) {
    .hamburger-icon {
        display: none !important;
    }
    .recipe-tag {
        display: none !important;
    }
}
