@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

.container{
    display:flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.user-profile-header{
    margin:10px 10px 20px 20px;
}

.user-profile-card{
    padding-top: 20px;
    background-color: #FBF2CF;
    margin: 20px 20px 20px 20px;
    max-width: 150%;
    min-width:150%;
    height: 100%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile-picture{
    
    margin:50px;
    padding: 40px;
    border-radius: 100%;
    background-color: #C6EBC5;
    max-width: 100px;
    margin-bottom: 10px;
}

.profile-picture i {
    font-size: 5rem;
}

.uploaded-pip img {
    margin: 10px;
} 


.profile-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
    top: -30px;
    right: -80px;
    margin-right: auto;
    min-width: 50%
  }
  
  .profile-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .field-label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .field-value {
    font-size: 16px;
  }
  
  .field-divider {
    border: 0.5px solid #ccc;
    width: 100%;
    margin: 10px 0;
  }
  
  .edit-profile {
    margin-top: 0px;
  }
  
  .edit-profile h3 {
    font-size: 18px;
    color: #3897f0;
    cursor: pointer;
  }
  
  .edit-profile h3:hover {
    text-decoration: underline;
  }
  



