@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

.container{
    display:flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.user-profile-header{
    margin:10px 10px 20px 20px;
}

.user-profile-card {
  padding-top: 20px;
  background-color: #FBF2CF;
  margin: 20px;
  max-width: 50vw; /* Adjusted to be a relative width */
  width: 30vw;
  min-width: 300px;
  height: 80%;
  max-height: 800px; /* Adjusted to auto so it can shrink in height */
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


.profile-picture {
  position: relative;
  top: 0%;
  padding: 5%; /* Adjusted padding to be relative to the container */
  border-radius: 50%; /* Use a percentage for border-radius to maintain a circular shape */
  background-color: #C6EBC5;
  max-width: 150%; /* Adjusted to be a relative max-width */
  margin-bottom: 10%; /* Adjusted margin to be relative */
}


.profile-picture i {
  
  font-size: 5vh;
  font-size: 5vw;  /* Adjusted font-size to be relative to the viewport width */
  padding:20px;
}

.uploaded-pfp img{
  width: 13vw;
  height:  20vh;  /* Adjusted font-size to be relative to the viewport width */
  padding:20px;
} 
.pfp-container{
  border:1px solid red;
  width:50%;
  height:50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  top: -30px;
  right: 0; /* Adjusted right positioning */
  margin-right: 30%;
  margin-left:30%;
  width: 40%; /* Adjusted width to take full space */
  /* border:red solid 1px; */
}

  
  .profile-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-wrap: break-word;
    /* margin-bottom: 5%; */
  }
  
  .field-label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .field-value {
    font-size: 16px;
  }
  
  .field-divider {
    border: 0.5px solid #ccc;
    width: 100%;
    margin: 10px 0;
  }
  
  .edit-profile {
    margin-bottom:20%;
  }
  
  .edit-profile h3 {
    font-size: 18px;
    color: #3897f0;
    cursor: pointer;
  }
  
  .edit-profile h3:hover {
    text-decoration: underline;
  }
  
  .card-options {
    position: relative; /* Changed from absolute to relative */
    left:30%;
    cursor: pointer;
  }
  
  .card-options i {
    font-size: 1.5rem;
    padding: 20%;
  }
  
  .card-dropdown-menu {
    position: absolute;
    top: 70%;
    /* height:30px; */
    left:-190%;
    display:block;
    background-color: #f9f9f9;
    padding:0;
    /* transform: translateX(200%); */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .card-dropdown-item {
    color: black;
    padding:5px 10px 5px 10px; 
    text-decoration: none;
    display: block;
  }
  
  .card-dropdown-item:hover {
    background-color: #f1f1f1
  }

  .center-container {
    display:flex;
    flex-direction: column;
    position:relative;
    right:0%;
    /* border: 1px red solid; */
    width:60%;
  }

  .post-grid-container {
    max-height: 90%; /* Set the desired height for the scrollable area */
    overflow: auto;
    position: relative;
    bottom:8%;
  }
  

  .post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
  }
  .post-title{
    position: relative;
    bottom:5%;
  }
  .post-title h4{
    font-size: 32px;
  }
  
  .post {
    /* border: 1px solid #ccc; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 200px;
    overflow: hidden;
  }
  
  .post img {
    max-width: 100%;
    max-height: 100%;
    border-radius:10%;
    object-fit: cover;
  }
  

  
  
  
  
  
  
