.logout-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    min-width: 60%;
    min-height: 70%;
    flex-direction: column;
    align-items: center;
    
}