


.searchContainer {
    width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.searchBar {
    display: grid;
    place-items: center;  
    width: 500px; /* Take the full width of its container */
}

.dropdownContainer {
    width: 500px;
    margin: 0 auto;
    position: relative;
}
/* Style for the search bar input */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;          /* Make the input take the full width of its container */
}
/* Dropdown styles */
.dropdown {
    border: none;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 367px);
    left: 0;
    width: 500px;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown.active {
    border: 1px solid #ccc;

}
.dropdown li {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for hover effect */
}

.dropdown li:hover {
    background-color: #f5f5f5;
}

.highlight {
    background-color: yellow;
}


.delete-history-item {
    float: right;
    cursor: pointer;
    padding-left: 10px;
    color: red;
}

.clear-history {
    text-align: center;
    cursor: pointer;
    color: blue;
}
