@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.create-post-window {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 90%;
    width: 90%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    /* Add more styles as necessary */
}

.close-container{
    position: relative;
    width: 50px;
    height: 50px;
    left:2%;
    cursor: pointer;
    
}
  
  .leftright{
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: green;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft{
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: green;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }
  
  
  .close{
    margin: 5%;
    position: absolute;
  }
  
  .close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: red;
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: red;
  }

  .text-options{
    display:flex;
    /* border: blue 1px solid; */
    width:90%;
    justify-content: space-between;
    font-size: 2rem;
  }


  .top-panel{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
  }

  .post-panel{
    background-color: rgb(255, 239, 219);
    margin-bottom:5%;
    width:50%;
    height:80%;
    position: relative;
    bottom:8%;
    left:25%;
    border-radius: 10%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:1%;
    
  }

  .image-panel{
    padding-top:5%;
    display: flex;
    flex-direction: column;
    /* border:red 1px solid; */
    width: 100%;
    height:40%;
    margin-bottom:10%;
    align-items: center;
  }

 
  .image-panel .image{
    position: relative;
    bottom:50%;
    width: 70%;
    height:90%;
    border-radius: 10%;
    margin-top: 15%;
  }

  .data-panel{
    position: relative;
    bottom:10%;
    /* border:red 1px solid; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    padding-left:15%;
    width: 100%;
    height: 40%;
  }









  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

.input-data{
  position: relative;
  margin-bottom:5%;
 
}

.input-data input {
  display: block;
  width: 80%;
  height: 100%;
  border: none;
  font-size: 24px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  outline: none;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-40px);
  font-size: 14px;
  color: #3498db;
}

.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 2%;
  left:3%;
  font-size: 24px;
  transition: all 0.3s ease;
  color: rgb(105, 105, 102);
}

.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 80%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}

.recipe-ingredients{
  position: relative;

}

.recipe-ingredients textarea {
  display: block;
  width: 80%;
  height: 100%;
  border: none;
  font-size: 16px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  outline: none;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10%;
}

.caption{
  position: relative;
}

.custom-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.custom-image img {
  margin-bottom: 5%;
  border-radius: 10%;
}
.custom-image input {
  position: relative;
  left: 15%;
}

.button-18 {
  position: relative;
  bottom: 5%;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  appearance: none;
  
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  }
  
  .lg-logout:hover {
  background: #bc5050;
  color: #ffffff;
  }
  
  .button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
  }
  
  .button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
  }
  
  .button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }

  .exit{
      position:relative;
      left:110%;
      top:30px;
  }

  .close {
      overflow: hidden;
      position: relative;
      border: none;
      padding: 0;
      width: 2em; height: 2em;
      border-radius: 50%;
      background: transparent;
      color: #1da1f2;
      font: inherit;
      text-indent: 100%;
      cursor: pointer;
  
      &:focus {
          outline: solid 0 transparent;
          box-shadow: 0 0 0 2px #8ed0f9
      }
  }

  



/* @media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
} */