.container {
    width: 100%;
    height: 85vh;
    text-align: center;
}

.login {
    margin: auto;
    border-radius: 25px;
    width: 20%;
    height: 45%;
    padding: 30px;
    text-align: center;
    background-color: #a1c298;
}

/* #filled-basic #outlined-adornment-password {
    background-color: #fbf2cf;
} */