.recipe-content2 {
  background-color: #FBF2CF;
  padding: 20px;
  width: 90%;
  max-width: 90%;
  max-height: 100%;
  height: 100%;
  border-radius: 10px;
  overflow-y: auto;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
.share-button {
  margin-top: 3%;
  background: none;
  border: none;
}

.share-modal {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.name-container {
  display: flex;
  justify-content: center;

}

.image-container {
  display: flex;
  justify-content: center;

}
.window-title {
  font-weight: bold;
}

.bookmark-button {
  border: none;
  background: none;
  cursor: pointer;
}

.bookmark-button:hover {
  color: #f50057; /* Change the color to your preference */
}


.editButtons {
  opacity: 0;               
  transition: opacity 0.3s;  
  background-color: gray;   
  margin-left: 10px;        
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.name-container:hover .editButtons,
.image-container:hover .editButtons,
.time-container:hover .editButtons,
.servings-container:hover .editButtons,
.ingredientLines-container:hover .editButtons,
.instructions-container:hover .editButtons,
.source-container:hover .editButtons {
  opacity: 1;
}

.difficulty-container {
  display: flex;
  align-items: center;
}

.diffculty-span {
  margin-left: 10px;
}

.tags-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.tag-bubble {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #e0e0e0;
  text-align: center;
  font-size: 0.8rem;
  display: inline-block;
}


