.recipe-content {
  background-color: #FBF2CF;
  padding: 20px;
  width: 90%;
  max-width: 90%;
  max-height: 100%;
  height: 100%;
  border-radius: 10px;
  overflow-y: auto;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.name-container {
  display: flex;
  justify-content: center;

}

.image-container {
  display: flex;
  justify-content: center;

}
.window-title {
  font-weight: bold;
}

/* .time-container {
  display: flex;
  justify-content: center;
  
} */

/* .ingredientLines-container {

} */
.editButtons {
  opacity: 0;               
  transition: opacity 0.3s;  
  background-color: gray;   
  margin-left: 10px;        
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.name-container:hover .editButtons,
.image-container:hover .editButtons,
.time-container:hover .editButtons,
.servings-container:hover .editButtons,
.ingredientLines-container:hover .editButtons,
.instructions-container:hover .editButtons,
.source-container:hover .editButtons {
  opacity: 1;
}