.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo img {
    width: 100px;
    height: 100px;
    transform: scale(1.5);
}