/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

/* layout */
/*{
  border: solid red 1px;
}*/

:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #C6EBC5;
  margin: 0;
  font-family: "Poppins";
  border:red 1px solid;
}
nav {
  
  width: 100%;
  border:red 1px solid;
}
.container {
  background: #A1C298;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navhome{
  padding:0;
  margin:0;
}

.profileImage{
  position: relative;
  top: -10px;
  right: -10px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 100%;
  width:30px;
  margin-right: 20px;
}
.profileImage i{
  font-size: 2rem;
}

.profile-container{
  max-height: 50px;
}

.profileImage:hover{
  cursor: pointer;
}


nav a {
  color: #333;
  text-decoration: none;
}

/*sub menu*/
.sub-menu-wrap{
  position:relative;
  top:-20px;
  right:40px;
  max-width: 180px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
  max-height: 600px;
  position: relative;
  top:-20px;
  right:40px;
}

.sub-menu{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0;
  padding: 20px;
  border-radius: 5%;
}

.user-info{
  display: flex;
  align-items: center;
  align-self: center;
}

.user-info h2 {
  font-weight: 500;
}

.sub-menu hr {
  border:0;
  height: 1px;
  width:100%;
  background: #ccc;
  margin: 5px 0 10px;
}

.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color:black;
  margin: 12px 0;
}

.sub-menu-link p{
  width:100%;
}

.sub-menu-link i {
  width: 30px;
  height: 20px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding:12px 12px 12px 14px;
  margin-right: 15px;
}
.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform:translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 500;
}

