/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

/* layout */
/*{
  border: solid red 1px;
}*/

:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body, html {
  position: fixed;
  background: #C6EBC5;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;  /* Prevent horizontal scrolling */
}
nav {
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .container {
  background: #A1C298;
  width:100%;
  height: 100px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  max-width:30; 
}

nav h1 {
  margin: 0 10px;
  font-size: 1.5rem; 
}

.nav-menu{
  background: #A1C298;
  position: relative;
  top:-10%;
  width:100%;
  height: 100px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.profileImage{
  position: relative;
  top:10%;
  right: -70%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 100%;
  width:30px;
  margin-right: 20px;
}
.profileImage i{
  font-size: 2rem;
}

.profile-container{
  max-height: 50px;
}

.profileImage:hover{
  cursor: pointer;
}


nav a {
  color: #333;
  text-decoration: none;
}

/*sub menu*/
.sub-menu-wrap{
  position:absolute;
  top:100px;
  right:-40px;
  max-width: 180px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
  max-height: 600px;
  position: absolute;
  top:100px;
  right:10px;
}

.sub-menu{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0;
  padding: 20px;
  border-radius: 5%;
}

.user-info{
  display: flex;
  align-items: center;
  align-self: center;
}

.user-info h2 {
  font-weight: 500;
}

.sub-menu hr {
  border:0;
  height: 1px;
  width:100%;
  background: #ccc;
  margin: 5px 0 10px;
}

.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color:black;
  margin: 12px 0;
}

.sub-menu-link p{
  width:100%;
}

.sub-menu-link i {
  width: 30px;
  height: 20px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding:12px 12px 12px 14px;
  margin-right: 15px;
}
.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform:translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 500;
}

.nav-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start;
  }

  nav .container {
    width: 100%;
  }

  nav h1 {
    display: none; /* Hide "Pantry", "Recipes", "Community" headings */
  }

  .profile-container {
    display: none; /* Hide the profile container */
  }

  .menu-icon {
    margin-right: 20%;
    padding: 10px;
  }
  .menu-icon i {
    font-size: 2rem;
  }

  .sub-menu-wrap {
    position: absolute; /* Adjust submenu position on smaller screens */
    top: 100%;
    right: 0;
    width: 100%;
    max-width: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 120px;
    right: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    align-items: center;
  }

  .nav-menu.active {
    background: #A1C298;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 50px;
    right:50%;
    width: 100%;
    display: table;
    position: relative;
    right:20%;
  }

  .profile-container{
    position: relative;
    bottom:70%;
    left:40%;
  }

  .sub-menu-wrap{
    position:absolute;
    top:60%;
    right:50%;
    max-width: 180px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
  }


  .sub-menu-wrap.open-menu{
    position: absolute;
    top:60%;
    right:50%;
  }

  .profileImage{
    position: relative;
    top:-40%;
    right: -5%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 100%;
    width:30px;
    margin-right: 20px;
  }


}

@media (min-width: 769px) {
  .menu-icon {
    display: none; /* Hide menu icon on wider screens */
  }
}


