@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

.container{
    display:flex;
    justify-content: space-between;
}

.user-profile-header{
    margin:10px 10px 20px 20px;
}

.user-profile-card{
    background-color: #FBF2CF;
    margin: 20px 20px 20px 20px;
    width: 150%;
    height: 600px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pfp-container{
    /* border: red solid 1px; */
}

.profile-picture{
    
    margin:50px;
    padding: 40px;
    border-radius: 100%;
    background-color: #C6EBC5;
    max-width: 100px;
}

.profile-picture i {
    font-size: 5rem;
}


.profile-info{
    display:flex;
    flex-direction: column;
    position:relative;
    border:red solid 1px;
    top: -10%;
    align-items: center;
}






.edit-profile{
    padding: 0px 20px 0px 20px;
    margin: 15px;
    background-color: #9addf0;
    border-radius: 10%;
}
.edit-profile:hover{
    cursor: pointer;
}

.add-pic{
    /* position: absolute; */
    position:relative;
    background-color: rgb(247, 192, 186);
    border-radius: 90%;
    padding: 5px;
    width: 30px;
    height:30px;
    right: -150px;
    top:-70px;
}

.add-pic:hover .remove-pic:hover{
    cursor: pointer;
}

.add-pic i .remove-pic i{
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
}

.remove-pic {
    /* position: absolute; */
    position:relative;
    background-color: rgb(247, 192, 186);
    border-radius: 90%;
    padding: 5px;
    width:43px;
    right: -180px;
    top:-100px;
}


