


.dropdown {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    top: 100%;            /* Position it right below the input */
    left: 0;              /* Align it to the left of the input */
    width: 100%;
    z-index: 1;
    list-style-type: none; /* Remove bullet points */
    margin: 0;            /* Remove default margin */
    padding: 0;           /* Remove default padding */
}

.dropdown li {
    padding: 8px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #f5f5f5;
}


/* Style for the parent container */
.searchBar {
    display: grid;
    place-items: center;  
    height: 100vh;        
    position: relative;   /* Add this line */
    width: 300px;         /* Set a fixed width or adjust as needed */
    margin: 0 auto;       /* Center the searchBar horizontally */
}

/* Style for the search bar */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown li.highlighted {
    background-color: #e5e5e5;
}

.highlight {
    background-color: yellow;
}