
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('../../images/tomato.png') center;
    color: #fff;
    padding: 20px;
    background-color: #C6ebc5; 
    font-size: xx-large;
}
.instructions {
    margin-top: 20px;
    background-color: #C6ebc5; 
    padding: 2%;
    border-radius: 2%;
    width: fit-content;
    text-align: center;
    color: black;

}

.instructions p {
    margin: 5px 0;
    font-size: 20px;
}

.search-bar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0%;
}