/* preferences.css */

.preferences {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  .dietary-preferences-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Reduced margin for a cleaner look */
  }
  
  .checkbox-label label {
    margin-right: -10px; /* Adjust the margin-right to move the label to the left */
  }
  
  .checkbox-label h2 {
    font-size: 20px; /* Increase the font size for the checkbox titles */
    margin-left: 0; /* Reset the left margin for the title */
  }
  
  .checkbox-input {
    appearance: none;
    width: 30px; /* Adjust the width to make the checkbox larger */
    height: 30px; /* Adjust the height to make the checkbox taller */
    border-radius: 5px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: auto; /* Right-align the checkboxes */
    transition: background-color 0.3s; /* Add a transition for smooth color change */
  }
  
  .checkbox-input:hover {
    background-color: #6eb2e0; /* Change the background color on hover */
  }
  
  .checkbox-input:checked {
    background-color: #2196F3;
  }
  
  .checkbox-label input:checked::before {
    content: '\2713'; /* Unicode checkmark character */
    font-size: 20px; /* Adjust the font size for the checkmark to make it larger */
    color: #fff;
    position: absolute;
    top: 5px; /* Adjust the top position to center the checkmark vertically */
    left: 7px; /* Adjust the left position to center the checkmark horizontally */
  }
  
  /* Save and Cancel Button Styles */
  .save-cancel-buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  .save-button,
  .cancel-button {
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 2px; /* Updated margin-right to 2px */
  }
  
  .save-button:hover,
  .cancel-button:hover {
    background-color: #0e77d4;
  }
  