/* settings.css */

.settings {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 10px;
}

.toggle-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 15px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(30px);
}

.email-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-title {
    margin-right: 10px;
    width: auto;
}

.input-title h2 {
    font-size: 16px;
}

.input-field {
    flex: 1;
}

.input-field input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.input-field input[type="text"]:focus {
    border-color: #2196F3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.everyday-at-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-title {
    margin-right: 10px;
    width: auto;
}

.input-title h2 {
    font-size: 16px;
}

.input-field select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.save-button-container {
    margin-top: 20px;
    text-align: center;
}

/* Save and Cancel Button Styles */
.save-button, .cancel-button {
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 2px; /* Updated margin-right to 2px */
}

.save-button:hover, .cancel-button:hover {
    background-color: #0e77d4;
}

/* Additional Button Styles */
.another-button {
    padding: 10px 20px;
    background-color: #FF5722;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.another-button:hover {
    background-color: #E64A19;
}
