/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

/* layout */
/*{
  border: solid red 1px;
}*/

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  position: fixed;
  background: #C6EBC5;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;  /* Prevent horizontal scrolling */
}



