/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

/* layout */
/*{
  border: solid red 1px;
}*/

:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #C6EBC5;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #A1C298;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navhome{
  padding:0;
  margin:0;
}

.profileImage{
  background-color: #ffffff;
  padding: 15px;
  border-radius: 100%;
}
.profileImage i{
  font-size: 2rem;
}


header a {
  color: #333;
  text-decoration: none;
}