/* recipewindow.css */
.recipe-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.recipe-content {
    background-color: #FBF2CF;
    padding: 20px;
    width: 70vw;
    max-width: 70%;
    border-radius: 10px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.name-container {
    display: flex;
    justify-content: center;

}

.image-container {
    display: flex;
    justify-content: center;

}

.time-container {
    display: flex;
    justify-content: center;
    
}

/* .ingredientLines-container {

} */
.editButtons {
    opacity: 0;               
    transition: opacity 0.3s;  
    background-color: gray;   
    margin-left: 10px;        
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.name-container:hover .editButtons,
.image-container:hover .editButtons,
.time-container:hover .editButtons,
.servings-container:hover .editButtons,
.ingredientLines-container:hover .editButtons,
.instructions-container:hover .editButtons,
.source-container:hover .editButtons {
    opacity: 1;
}